@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: poppins;
    margin: 0;
}


.navbar {
    background-color: #ffffff;
    font-weight: 500;
    height: 70px;
    border-radius: 0px 0px 15px 15px;
}
.navbar-brand {
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: #949494;
}
.navbar-nav .nav-link:hover {
    color: #244282;
}
.navbar-nav .nav-link:active {
    color: #ffffff;
}

.info-text{
    margin: 0;
    padding: 10px 84px 10px 84px;
    background-color: #1a2a6c;
    color: #fff;
}

.logo-sipresma{
    width: 140px;
    height: 40px;
    
}.info-text-nav{
    margin: 0;
}







.btn-login {
    background-color: #1a2a6c;
    color: #fff;
}

.btn-log{
    background-color: rgba(255, 255, 255, 1);
    color: #244282;
    font-weight: 700;
    padding: 10px 15px 10px 15px;
    
}

.hero-section {
    background-image: url('../img/Frame\ 1686554737.png');
    background-color: #333; 
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    position: relative;
    background-repeat: no-repeat;
    min-height: 500px;
    width: auto;
}
.hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.hero-section .btn-primary {
    background-color: #1a2a6c;
    border: none;
}


.announcement-section {
    background-color: #f5f5ff;
    padding: 50px 0;
}
.announcement-section h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.announcement-section .card {
    border: none;
    margin-bottom: 20px;
}
.announcement-section .card-body {
    padding: 20px;
}
.announcement-section .card-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.announcement-section .card-text {
    font-size: 1rem;
}
.announcement-section .card-footer {
    background-color: transparent;
    border-top: none;
    font-size: 0.875rem;
    color: #1a2a6c;
}

.announcement-section .button{
    margin-bottom: 20px;
}

.announcement-section .link{
    text-decoration: none;
}

.card-text{
    display: -webkit-box;
    display: box; /* Add this for compatibility */
    -webkit-line-clamp: 3; /* Jumlah baris yang ingin ditampilkan */
    line-clamp: 3; /* Add this for compatibility */
    -webkit-box-orient: vertical;
    box-orient: vertical; /* Add this for compatibility */
    overflow: hidden;
    text-overflow: ellipsis;
}




.help-center-section {
    background-color: #f5f5ff;
    padding: 50px 0;
}
.help-center-section h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.help-center-section .list-group-item {
    border: none;
    padding: 20px;
    font-size: 1rem;
}
.help-center-section .list-group-item i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.help-center-section h5{
    margin: 0;
}


.help-center-section .separator{
    width: 2px; 
    height: 130px; 
    background-color: rgb(222, 222, 222); 
    border-radius: 6px;
    margin: 0 15px; 
   
}







.footer {
    background-color: #1a2a6c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0px;
}



/* style detail prestasi */
.container-detail-prestasi{
    margin: 0 auto;
    margin-left: 84px;
    margin-right: 84px;
}


.nav-tabs .nav-link {
    color: #6c757d; /* Default: text-muted */
    transition: color 0.3s ease;
  }
  
  .nav-tabs .nav-link.active {
    color: #244282; /* Active color */
    font-weight: bold;
  }
  
  .pagination .page-link {
    color: #6c757d !important; /* Default: text-muted */
    transition: color 0.3s ease;
  }
  
  .pagination .page-item.active .page-link {
    color: white !important;
    background-color: #244282 !important; /* Active color */
    font-weight: bold !important;
  }
